%background-gradient {
  background: radial-gradient(ellipse at center, rgb(248, 248, 231) 10%, white 100%);
}

body {
  @extend %background-gradient;
}

head {
  @extend %background-gradient;
}


.navbar {
  position: sticky !important;
  top: 0;
  z-index: 100;
}



.navbar-nav {
    .nav-link:hover {
      color: rgb(18, 11, 226);
      text-decoration: underline;
    }
  }

  
  
  
  
  .textomedioindex {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
  }



  .piedepaginageneral {
    background-color: rgb(61, 59, 59);
    color: white;
    padding: 50px 0;
    margin-top: 20px;
  
    h2.footer-heading {
      font-size: 32px;
      margin-bottom: 30px;
    }
  
    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 15px;
      font-size: 18px;
    }
  
    ul li {
      margin-bottom: 10px;
    }
  
    p {
      margin-bottom: 10px;
      font-size: 18px;
    }
  
    @media (max-width: 767px) {
      padding: 30px 0;
  
      ul {
        font-size: 14px;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
  }
  
  


  .gridindex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1px;
    margin-bottom: 50px;
  
    .gridimg {
      
      width: 100%;
      height: auto;
    }
  
    @media (max-width: 767px) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  
  .mapa {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(61, 59, 59);
    margin-bottom: 50px;
    
  
    .container {
      .row {
        .col-sm-12 {
          iframe {
            width: 100%;
            height: 450px;
  
            @media (max-width: 767px) {
              height: 300px;
            }
          }
        }
      }
    }
  
    .textomapa {
      margin-top: 20%;
      margin-left: 20%;
      color: white;
      
      @media (max-width: 767px) {
        font-size: 14px; 
      }
    }
    
  }
  
  


  
    .gallery-container {
      text-align: left;
      height: 300px;
      
      .image {
        position: relative;
        
        img {
          width: 100%;
          height: auto;
        }
        
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 0;
          transition: opacity 0.3s;
        }
        
        &:hover:before {
          opacity: 1;
        }
      }
      
      @media screen and (max-width: 768px) {
        height: auto;
        
        .image {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

  
  .rounded.float-start {
    width: 100%;
  }
  
  .habitaciones {
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
  }
  
  .tituloeventos {
    text-align: center;
    margin: 0 20px 10px; 
  
    h1 {
      
  
      @media (max-width: 767px) {
        font-size: 18px;
      }
    }
  
    p {
      font-size: 16px;
  
      @media (max-width: 767px) {
        font-size: 14px;
        margin: 0; 
      }
    }
  }
  
  .row.justify-content-evenly {
    .col-4 {
      a {
        img {
          margin-bottom: 50px;
        }
      }
    }
  }
  
  
  
  .contact-info {
    padding: 20px 20px 20px 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    border: 2px solid black;
  }

  input {
    transition: width 2s;       
 }
 input:focus {
    width: 200%;
 }
 